@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
//font-family: 'Open Sans Condensed', sans-serif;

.blog-title {
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    font-family: 'Saira', sans-serif;
}

.blog-main {
    text-align: left;
}

.wp-block-table {
    text-align: left;
    margin: auto;

    strong {
        font-size: 20px;
    }
}

.max-width-fifteenhundred {
    max-width: 1500px;
    margin: auto;
    background: transparent;
}
